{% extends "emails/base_email.html" %}
{% load email_helpers %}
{% block email_title %}Votre code de connexion{% endblock %}

{% block content %}

    <p>Bonjour,</p>
    <p>
        Vous venez de vous connecter à Vigiedéchets de Trackdéchets.
        <br>

        Pour des raisons de sécurité, l'authentification à cet outil nécessite également d'y associer un code de
        sécurité à usage unique, à recopier dans le formulaire de Vigiedéchets : {{ token }}
    </p>



    <p style="text-align: center;color:#fff"><a href="{% second_factor_url %}"
                                                style="color:#fff"
                                                target="_blank"
                                                class="button"
    >Compléter
        le code sur Vigiedéchets
    </a></p>


    <p>
        Pour rappel, ces données comportent des informations confidentielles et commerciales et ne doivent pas être
        exposées publiquement.
    </p>
    <p>Merci pour votre compréhension.</p>

{% endblock content %}
