{% extends "emails/base_email.html" %}
{% load email_helpers %}
{% block email_title %}Votre code de connexion{% endblock %}

{% block content %}

    <p>Bonjour,</p>
    <p>
        Voici le code à recopier dans le formulaire de la fiche établissement de
        Trackdéchets : {{ token }}
    </p>

    <p> L'utilisation de ce code nous permet de sécuriser l'accès à la fiche établissement et aux données sensibles des
        entreprises. </p>

    <p style="text-align: center"><a href="{% second_factor_url %}"
          target="_blank"
          class="button"
    >Compléter
        le code sur la fiche établissement
    </a></p>

    <p>Merci pour votre compréhension.</p>

{% endblock content %}
