{% extends "base.html" %}
{% load graph_tags %}
{% block main %}
    <div class="fr-container sheet">
        <h1>{{ sheet.company_name }}</h1>
        <p>
            <span class="fr-text--bold">{{ sheet.created|date:"DATE_FORMAT" }}</span>
            -
            {% if sheet.is_graph_rendered %}
                <a href="{% url "sheet_pdf" sheet.pk %}" target="_blank">Voir la fiche en Pdf</a>
            {% else %}
                <a href="{% url "prepare_pdf" sheet.pk %}" target="_blank">Voir la fiche en Pdf</a>
            {% endif %}
            -
            <a href="{% url "prepare" %}">Préparer une autre fiche</a>
            {% if user.is_superuser and debug %}
                -
                <a href="{% url "sheet_pdf_debug" sheet.pk %}" target="_blank">Pdf debug</a>
            {% endif %}
        </p>
        <div class="row">
            <div class="cell cell--bordered cell--third">
                <h4 class="cell__title">SIRET: {{ sheet.org_id }}</h4>
                <p class="fr-text--bold">Profils établissements renseignés sur Trackdéchets :</p>
                <ul>
                    {% for profile in sheet.company_profiles %}<li>{{ profile }}</li>{% endfor %}
                </ul>
                <p>{{ sheet.company_address }}</p>
                <p>
                    Période du {{ sheet.period_start|date:"SHORT_DATE_FORMAT" }}
                    au {{ sheet.period_end|date:"SHORT_DATE_FORMAT" }}
                </p>
            </div>
            <div class="cell cell--bordered cell--third">
                <h3 class="cell__title">Agréments et récépissés déclarés sur Trackdéchets</h3>
                {% render_agreements sheet %}
            </div>
            <div class="cell cell--bordered cell--third">
                <p>Les données pour cet établissement peuvent être consultées sur Trackdéchets</p>
                <p>
                    Elles comprennent les bordereaux de suivi de déchets (BSD) dématérialisés, mais ne comprennent pas
                    :
                </p>
                <ul>
                    <li>les éventuels BSD papiers non dématérialisés</li>
                    <li>les bons d’enlèvements (huiles usagées et pneus)</li>
                </ul>
            </div>
        </div>
        <h2 class="section__title" id="bs-section-title">
            Données des bordereaux de suivi dématérialisés issues de Trackdéchets
        </h2>
        {% if sheet.all_bsd_data_empty %}
            <div class="no-data-section">PAS DE DONNÉES À AFFICHER POUR LE SIRET {{ sheet.org_id }}.</div>
        {% endif %}
        {#  bsdd #}
        {% if sheet.bsdd_created_rectified_data %}
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">BSD Dangereux émis, reçus et corrigés</h3>
                    <div id="bsdd_emitted_corrected_graph">
                        <div class="no-data">Pas de données à afficher.</div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">Quantité de déchets dangereux en tonnes</h3>
                    <div id="bsdd_quantity_graph">
                        <div class="no-data">Pas de données à afficher.</div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">BSD dangereux sur l'année</h3>
                    {% stats_graph sheet "bsdd" %}
                </div>
            </div>
        {% endif %}
        {#  end bsdd #}
        {#  bsdd non dangereux #}
        {% if sheet.bsdd_non_dangerous_created_rectified_data %}
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">BSD de déchets non dangereux émis, reçus et corrigés</h3>
                    <div id="bsdd_non_dangerous_emitted_corrected_graph">
                        <div class="no-data">Pas de données à afficher.</div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">Quantité de déchets non dangereux en tonnes</h3>
                    <div id="bsdd_non_dangerous_quantity_graph">
                        <div class="no-data">Pas de données à afficher.</div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">BSD de déchets non dangereux sur l'année</h3>
                    {% stats_graph sheet "bsdd_non_dangerous" %}
                </div>
            </div>
        {% endif %}
        {#  end bsdd non dangereux #}
        {#  bsda #}
        {% if sheet.bsda_created_rectified_data %}
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BSD Amiante émis, reçus et corrigés
                    </h3>
                    <div id="bsda_emitted_corrected_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        Quantité de déchets amiante en tonnes
                    </h3>
                    <div id="bsda_quantity_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BS Amiante sur l'année
                    </h3>
                    {% stats_graph sheet "bsda" %}
                </div>
            </div>
        {% endif %}
        {#  end bsda #}
        {#  bsdasri #}
        {% if sheet.bsdasri_created_rectified_data %}
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BSD Dasri émis, reçus et corrigés
                    </h3>
                    <div id="bsdasri_emitted_corrected_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        Quantité de déchets Dasri en tonnes
                    </h3>
                    <div id="bsdasri_quantity_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BS dasri sur l'année
                    </h3>
                    {% stats_graph sheet "bsdasri" %}
                </div>
            </div>
        {% endif %}
        {#  end bsdasri #}
        {#  bsff #}
        {% if sheet.bsff_created_rectified_data %}
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BS Fluide émis, reçus et corrigés
                    </h3>
                    <div id="bsff_emitted_corrected_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        Quantité de déchets Fluides en tonnes
                    </h3>
                    <div id="bsff_quantity_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BS Fluides sur l'année
                    </h3>
                    {% stats_graph sheet "bsff" %}
                </div>
            </div>
        {% endif %}
        {#  end bsff #}
        {#  bsvhu #}
        {% if sheet.bsvhu_created_rectified_data %}
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BS VHU émis, reçus et corrigés
                    </h3>
                    <div id="bsvhu_emitted_corrected_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        Quantité de VHU en tonnes
                    </h3>
                    <div id="bsvhu_quantity_graph">
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    </div>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        BS VHU sur l'année
                    </h3>
                    {% stats_graph sheet "bsvhu" %}
                </div>
            </div>
        {% endif %}
        {# end bsff #}
        {# outliers #}
        {#    Todo: fix outliers#}
        {#        <div class="row">#}
        {#            <div class="cell cell--bordered cell--third">#}
        {#                 <h3 class="cell__title">#}
        {#                       Informations complémentaires#}
        {#                    </h3>#}
        {#                {% render_outliers sheet %}#}
        {#            </div>#}
        {#        </div>#}
        {# end outliers #}
        {#  "waste is dangerous" statements #}
        {% if sheet.waste_is_dangerous_statements_data %}
            <div class="cell cell--bordered cell--half">
                {% render_waste_is_dangerous_statements sheet %}
            </div>
        {% endif %}
        {# end "waste is dangerous" statements #}
        <h2 class="section__title">
            Déchets sur site (théorique)
        </h2>
        <div class="row">
            <div class="cell cell--bordered cell--third">
                {% include "sheets/components/on_site_wastes.html" with storage_data=sheet.storage_data %}
            </div>
            <div class="cell cell--bordered cell--third">
                <h3 class="cell__title">
                    Origine des déchets - Départements
                </h3>
                <div id="waste_origin_graph">
                    <div class="no-data">
                        Pas de données à afficher.
                    </div>
                </div>
            </div>
            <div class="cell cell--bordered cell--third">
                <h3 class="cell__title">
                    Origine des déchets - Régions
                </h3>
                <div id="waste_origin_map_graph">
                    <div class="no-data">
                        Pas de données à afficher.
                    </div>
                </div>
            </div>
        </div>
        {# ICPE #}
        <h2 class="section__title">
            Données installation classée pour la protection de l'Environnement (ICPE)
        </h2>
        <p>
            Les données ICPE proviennent de la base Géorisque. Ces données ne sont pas à jour et synchronisées pour
            le moment faute de lien entre Trackdéchets et Géorisque.
        </p>
        <div class="row">
            <div class="cell cell--bordered cell--half">
                {% render_icpe sheet %}
            </div>
            {# end ICPE #}
            <div class="cell cell--bordered cell--half">
                {% render_traceabilty_break sheet %}
            </div>
        </div>
        {# bsd canceled table #}
        <div>
            {% render_bsd_canceled_table sheet %}
        </div>
        {# end bsd canceled table #}
        {# same emitter recipient table #}
        <div>
            {% render_same_emitter_recipient_table sheet %}
        </div>
        {# end ame emitter recipient table #}
        {# input/output #}
        <h2 class="section__title">
            Liste des déchets entrants/sortants
        </h2>
        <div>
            {% render_in_out_table sheet %}
        </div>
        {# end input/output #}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        {% autoescape off %}
            const siret = {{ sheet.org_id }};
            const bsdd_created_rectified_data = {{ sheet.bsdd_created_rectified_data }};
            const bsdd_stock_data = {{ sheet.bsdd_stock_data }};
            const bsdd_non_dangerous_created_rectified_data = {{ sheet.bsdd_non_dangerous_created_rectified_data }};
            const bsdd_non_dangerous_stock_data = {{ sheet.bsdd_non_dangerous_stock_data }};
            const bsda_created_rectified_data = {{ sheet.bsda_created_rectified_data }};
            const bsda_stock_data = {{ sheet.bsda_stock_data }};
            const bsdasri_created_rectified_data = {{ sheet.bsdasri_created_rectified_data }};
            const bsdasri_stock_data = {{ sheet.bsdasri_stock_data }};
            const bsff_created_rectified_data = {{ sheet.bsff_created_rectified_data }};
            const bsff_stock_data = {{ sheet.bsff_stock_data }};
            const bsvhu_created_rectified_data = {{ sheet.bsvhu_created_rectified_data }};
            const bsvhu_stock_data = {{ sheet.bsvhu_stock_data }};
            const waste_origin_data = {{ sheet.waste_origin_data }};
            const waste_origin_map_data = {{ sheet.waste_origin_map_data }};

        {% endautoescape %}
    </script>
    <script>
        const isNotEmpty = (obj) => (Object.keys(obj).length !== 0);
        function removeNoDataClass(query) {
            const divElement = document.querySelector(query);
            if (divElement !== null) {
              divElement.remove();
            }
        }
        if (isNotEmpty(bsdd_created_rectified_data)) {
            removeNoDataClass("#bsdd_emitted_corrected_graph > .no-data");
            removeNoDataClass("#bsdd_quantity_graph > .no-data");
            Plotly.newPlot(
                'bsdd_emitted_corrected_graph',
                bsdd_created_rectified_data.data,
                bsdd_created_rectified_data.layout,
                bsdd_created_rectified_data.config)

            Plotly.newPlot('bsdd_quantity_graph', bsdd_stock_data.data, bsdd_stock_data.layout, bsdd_stock_data.config);
        }
        if (isNotEmpty(bsdd_non_dangerous_created_rectified_data)) {
            removeNoDataClass("#bsdd_non_dangerous_emitted_corrected_graph > .no-data");
            removeNoDataClass("#bsdd_non_dangerous_quantity_graph > .no-data");
            Plotly.newPlot(
                'bsdd_non_dangerous_emitted_corrected_graph',
                bsdd_non_dangerous_created_rectified_data.data,
                bsdd_non_dangerous_created_rectified_data.layout,
                bsdd_non_dangerous_created_rectified_data.config)

            Plotly.newPlot('bsdd_non_dangerous_quantity_graph', bsdd_non_dangerous_stock_data.data, bsdd_non_dangerous_stock_data.layout, bsdd_non_dangerous_stock_data.config);
        }
        if (isNotEmpty(bsda_created_rectified_data)) {
            removeNoDataClass("#bsda_emitted_corrected_graph > .no-data");
            removeNoDataClass("#bsda_quantity_graph > .no-data");
            Plotly.newPlot('bsda_emitted_corrected_graph', bsda_created_rectified_data.data, bsda_created_rectified_data.layout, bsda_created_rectified_data.config);
            Plotly.newPlot('bsda_quantity_graph', bsda_stock_data.data, bsda_stock_data.layout, bsda_stock_data.config);
        }
        if (isNotEmpty(bsdasri_created_rectified_data)) {
            removeNoDataClass("#bsdasri_emitted_corrected_graph > .no-data");
            removeNoDataClass("#bsdasri_quantity_graph > .no-data");
            Plotly.newPlot('bsdasri_emitted_corrected_graph', bsdasri_created_rectified_data.data, bsdasri_created_rectified_data.layout, bsdasri_created_rectified_data.config);
            Plotly.newPlot('bsdasri_quantity_graph', bsdasri_stock_data.data, bsdasri_stock_data.layout, bsdasri_stock_data.config);
        }
        if (isNotEmpty(bsff_created_rectified_data)) {
            removeNoDataClass("#bsff_emitted_corrected_graph > .no-data");
            removeNoDataClass("#bsff_quantity_graph > .no-data");
            Plotly.newPlot('bsff_emitted_corrected_graph', bsff_created_rectified_data.data, bsff_created_rectified_data.layout, bsff_created_rectified_data.config);
            Plotly.newPlot('bsff_quantity_graph', bsff_stock_data.data, bsff_stock_data.layout, bsff_stock_data.config);
        }
        if (isNotEmpty(bsvhu_created_rectified_data)) {
            removeNoDataClass("#bsvhu_emitted_corrected_graph > .no-data");
            removeNoDataClass("#bsvhu_quantity_graph > .no-data");
            Plotly.newPlot('bsvhu_emitted_corrected_graph', bsvhu_created_rectified_data.data, bsvhu_created_rectified_data.layout, bsvhu_created_rectified_data.config);
            Plotly.newPlot('bsvhu_quantity_graph', bsvhu_stock_data.data, bsvhu_stock_data.layout, bsvhu_stock_data.config);
        }


        if (isNotEmpty(waste_origin_data)) {
            removeNoDataClass("#waste_origin_graph > .no-data");
            Plotly.newPlot('waste_origin_graph', waste_origin_data.data, waste_origin_data.layout, waste_origin_data.config);
        }
        if (isNotEmpty(waste_origin_map_data)) {
            removeNoDataClass("#waste_origin_map_graph > .no-data");
            Plotly.newPlot('waste_origin_map_graph', waste_origin_map_data.data, waste_origin_map_data.layout, waste_origin_map_data.config);
        }
               
    </script>
{% endblock %}
