{% extends "base_pdf.html" %}
{% load static graph_tags %}
{% block main %}
    <div>
        <section class="horizontal">
            <div class="header">
                <img src="{% static "img/mtes.png" %}" style="height: 2.5cm;" />
                <img src="{% static "img/trackdechets.png" %}" style="height: 2cm;" />
                <div class="header__text">
                    <h1 class="header__title">Fiche Établissement</h1>
                    <h2 class="header__title">{{ sheet.company_name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="cell cell--third">
                    <p>
                        <span class="bold">SIRET :</span> {{ sheet.org_id }}
                    </p>
                    <p>Établissement inscrit depuis le {{ sheet.company_created_at|date:"d/m/Y" }}.</p>
                    <p class="pdf-text bold">Profils établissements renseignés sur Trackdéchets :</p>
                    <ul class="pdf-text">
                        {% for profile in sheet.company_profiles %}<li>{{ profile }}</li>{% endfor %}
                    </ul>
                    <p class="pdf-text bold mb-0">Adresse :</p>
                    <p class="pdf-text mt-0">{{ sheet.company_address }}</p>
                    <p class="pdf-text">
                        <span class="bold">Période :</span> {{ sheet.data_start_date|date:"SHORT_DATE_FORMAT" }}
                        - {{ sheet.data_end_date|date:"SHORT_DATE_FORMAT" }}
                    </p>
                    <p class="pdf-text">
                        <span class="bold">Fiche éditée le :</span> {{ sheet.created|date:"DATETIME_FORMAT" }}
                    </p>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">Agréments et récépissés déclarés sur Trackdéchets</h3>
                    {% render_agreements sheet %}
                </div>
                <div class="cell cell--third">
                    <p class="pdf-text">Les données pour cet établissement peuvent être consultées sur Trackdéchets</p>
                    <p class="pdf-text">
                        Elles comprennent les bordereaux de suivi de déchets (BSD) dématérialisés, mais ne comprennent
                        pas
                        :
                    </p>
                    <ul class="pdf-text">
                        <li>les éventuels BSD papiers non dématérialisés</li>
                        <li>les bons d’enlèvements (huiles usagées et pneus)</li>
                    </ul>
                    
                </div>
            </div>
            <div class="row">
                {#  linked companies table #}
                {% render_linked_companies_data sheet graph_context="pdf" %}
                {#  end linked companies table #}
            </div>
            <h2 class="section-title">Données des bordereaux de suivi dématérialisés issues de Trackdéchets</h2>
            {% if sheet.all_bsd_data_empty %}
            <div class="no-data-section">PAS DE DONNÉES TRACKDÉCHETS À AFFICHER POUR LE SIRET {{ sheet.org_id }}.</div>
            {% endif %}
            {#  bsdd #}
            <div class="row">
                {% if sheet.bsdd_created_rectified_data %}
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Dangereux émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsdd_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Quantité de déchets dangereux en tonnes</p>
                        <img src="data:image/png;base64,{{ bsdd_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Dangereux sur la période</p>
                        {% stats_graph sheet "bsdd" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsdd #}
            {#  bsdd non dangereux #}
            {% if sheet.bsdd_non_dangerous_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">BSD de déchets non dangereux émis, reçus et corrigés</h3>
                        <img src="data:image/png;base64,{{ bsdd_non_dangerous_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Quantité de déchets non dangereux en tonnes</h3>
                        <img src="data:image/png;base64,{{ bsdd_non_dangerous_stock_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">BSD de déchets non dangereux sur la période</h3>
                        {% stats_graph sheet "bsdd_non_dangerous" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsdd non dangereux #}
            {#  bsda #}
            {% if sheet.bsda_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Amiante émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsda_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Quantité de déchets amiante en tonnes</p>
                        <img src="data:image/png;base64,{{ bsda_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Amiante sur la période</p>
                        {% stats_graph sheet "bsda" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsda #}
            {#  bsdasri #}
            {% if sheet.bsdasri_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS DASRI émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsdasri_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Volume de déchets DASRI en m³</p>
                        <img src="data:image/png;base64,{{ bsdasri_stock_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS DASRI sur la période</p>
                        {% stats_graph sheet "bsdasri" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsdasri #}
            {#  bsff #}
            {% if sheet.bsff_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS Fluides Frigorigènes émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsff_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Quantité de déchets Fluides Frigorigènes en tonnes</p>
                        <img src="data:image/png;base64,{{ bsff_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS Fluides Frigorigènes sur la période</p>
                        {% stats_graph sheet "bsff" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsff #}
            {#  bsvhu #}
            {% if sheet.bsvhu_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS VHU émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsvhu_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Quantité de déchets VHU en tonnes</p>
                        <img src="data:image/png;base64,{{ bsvhu_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS VHU sur la période</p>
                        {% stats_graph sheet "bsvhu" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsvhu #}
            {# BSDA worker stats #}
            {% if sheet.bsda_worker_stats_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">{% render_bsda_worker_counts_stats_data sheet graph_context="pdf" %}</div>
                    <div class="cell cell--bordered cell--third">
                        {% render_bsda_worker_durations_stats_data sheet graph_context="pdf" %}
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Entreprise de travaux - Quantité de déchets amiante en tonnes</h3>
                        <img src="data:image/png;base64,{{ bsda_worker_quantity_graph }}"
                             class="cell__img">
                    </div>
                </div>
            {% endif %}
            {# end BSDA worker stats #}
            {% if sheet.transporter_bordereaux_stats_graph_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Bordereaux transportés</h3>
                        <img src="data:image/png;base64,{{ bs_transported_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Quantité de déchets transportés</h3>
                        <img src="data:image/png;base64,{{ bs_quantities_transported_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        {% render_transported_bordereaux_stats_data sheet graph_context="pdf" %}
                    </div>
                </div>
            {% endif %}
            {# DND #}
            <h2 class="section__title" id="bs-section-title">Données des déclarations issues du RNDTS</h2>
            <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Dernière mise à jour des données : Avril 2024</p>
            {% if sheet.non_dangerous_waste_quantities_graph_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Déclarations de déchets non dangereux entrants et sortants</h3>
                        <img src="data:image/png;base64,{{ dnd_statements_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Quantité de déchets non dangereux</h3>
                        <img src="data:image/png;base64,{{ dnd_quantity_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Déchets Non Dangereux - Statistiques sur l'année</h3>
                        {% render_rndts_stats sheet graph_context="pdf" %}
                    </div>
                </div>
            {% else %}
                <div class="no-data-section">PAS DE DONNÉES ISSUES DU RNDTS À AFFICHER POUR LE SIRET {{ sheet.org_id }}.</div>
            {% endif %}
            {# end DND #}
            {#  "waste is dangerous" statements #}
            {% if sheet.waste_is_dangerous_statements_data %}
                <div>{% render_waste_is_dangerous_statements sheet graph_context="pdf" %}</div>
            {% endif %}
            {# end "waste is dangerous" statements #}
            {#  on site #}
            <h2 class="section__title">Déchets sur site (théorique)</h2>
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    {% include "sheets/components/on_site_wastes.html" with storage_data=sheet.storage_data %}
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">Origine des déchets - Départements</h3>
                    {% if waste_origin_graph %}
                        <img src="data:image/png;base64,{{ waste_origin_graph }}"
                             class="cell__img">
                    {% else %}
                        <div class="no-data">Pas de données à afficher.</div>
                    {% endif %}
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">Origine des déchets - Régions</h3>
                    {% if waste_origin_map_graph %}
                        <img src="data:image/png;base64,{{ waste_origin_map_graph }}"
                             class="cell__img">
                    {% else %}
                        <div class="no-data">Pas de données à afficher.</div>
                    {% endif %}
                </div>
            </div>
            {# end on site #}
            {# ICPE #}
            <h2 class="section__title">Données installation classée pour la protection de l'Environnement (ICPE)</h2>
            {% if sheet.icpe_data %}
                <p>
                    Vous trouverez ci-aprés les données GUN telles qu'elles sont enregistrées dans GUN.
                    En cas de différence avec la réalité, merci de vérifier et mettre à jour GUN,
                    de façon à pouvoir vous proposer une analyse plus fine en lien avec les rubriques.
                </p>
                <div class="row">
                    <div class="cell cell--bordered cell--full">
                        <h3 class="cell__title">Données relatives à la rubrique 2760-1</h3>
                        <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : Trackdéchets</p>
                        {% if icpe_2760_graph %}
                            <img src="data:image/png;base64,{{ icpe_2760_1_graph }}" class="cell__img">
                        {% else %}
                            <div class="no-data">Pas de données à afficher.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell--bordered cell--full">
                        <h3 class="cell__title">Données relatives à la rubrique 2760-2</h3>
                        <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : RNDTS</p>
                        {% if icpe_2760_2_graph %}
                            <img src="data:image/png;base64,{{ icpe_2760_2_graph }}" class="cell__img">
                        {% else %}
                            <div class="no-data">Pas de données à afficher.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell--bordered cell--full">
                        <h3 class="cell__title">Données relatives à la rubrique 2770</h3>
                        <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : Trackdéchets</p>
                        {% if icpe_2770_graph %}
                            <img src="data:image/png;base64,{{ icpe_2770_graph }}" class="cell__img">
                        {% else %}
                            <div class="no-data">Pas de données à afficher.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell--bordered cell--full">
                        <h3 class="cell__title">Données relatives à la rubrique 2771</h3>
                        <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : RNDTS</p>
                        {% if icpe_2771_graph %}
                            <img src="data:image/png;base64,{{ icpe_2771_graph }}" class="cell__img">
                        {% else %}
                            <div class="no-data">Pas de données à afficher.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell--bordered cell--full">
                        <h3 class="cell__title">Données relatives à la rubrique 2790</h3>
                        <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : Trackdéchets</p>
                        {% if icpe_2790_graph %}
                            <img src="data:image/png;base64,{{ icpe_2790_graph }}" class="cell__img">
                        {% else %}
                            <div class="no-data">Pas de données à afficher.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell--bordered cell--full">
                        <h3 class="cell__title">Données relatives à la rubrique 2791</h3>
                        <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : RNDTS</p>
                        {% if icpe_2791_graph %}
                            <img src="data:image/png;base64,{{ icpe_2791_graph }}" class="cell__img">
                        {% else %}
                            <div class="no-data">Pas de données à afficher.</div>
                        {% endif %}
                    </div>
                </div>
                {% if sheet.bs_processed_without_icpe_authorization %}
                    <div class="row">
                        <div>
                            <div class="fr-alert fr-alert--warning">
                                <h3 class="fr-alert__title">Attention : traitements de déchets sans rubriques correspondantes</h3>
                                <p>L'établissement a traité des déchets dangereux mais les données ICPE sont manquantes.</p>
                            </div>
                            {% render_bs_without_icpe_authorization_tables sheet graph_context="pdf" %}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {# Rubriques list #}
                    {% render_icpe sheet graph_context="pdf" %}
                    {# end Rubriques list #}
                </div>
            {% else %}
                <div class="no-data-section">PAS DE DONNÉES ICPE.</div>
                <p>
                    Les données GUN ne nous permettent pas de disposer des données ICPE et ainsi vous proposer une analyse plus fine en lien avec les rubriques.
                    Pour disposer de ces données, merci de vous assurer que le SIRET de l'établissement est complété dans GUN et qu'il est bien à jour (à corroborer avec l'exploitant).
                </p>
                {% if sheet.bs_processed_without_icpe_authorization %}
                    <div>
                        <div class="fr-alert fr-alert--warning">
                            <h3 class="fr-alert__title">Attention : traitements de déchets sans rubriques correspondantes</h3>
                            <p>L'établissement a traité des déchets dangereux mais les données ICPE sont manquantes.</p>
                        </div>
                        {% render_bs_without_icpe_authorization_tables sheet graph_context="pdf" %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="row">{% render_traceabilty_break sheet graph_context="pdf" %}</div>
            {# end ICPE #}
            {# Transborder section #}
            <h2 class="section__title">Données relatives aux échanges transfrontaliers</h2>
            {% if sheet.followed_with_pnttd_data or sheet.gistrid_stats_data %}
                {# start followed with pnttd table #}
                <div class="row">{% render_followed_with_pnttd_table sheet graph_context="pdf" %}</div>
                {# end followed with pnttd table #}
                {# start gistrid stats table #}
                <div class="row">{% render_gistrid_stats_table sheet graph_context="pdf" %}</div>
                {# end gistrid stats table #}
            {% else %}
                <div class="no-data">Pas de données à afficher.</div>
            {% endif %}
            {# end Transborder section #}
        </section>
        {# Appendices section #}
        <section class="vertical">
            <h2 class="section__title">Annexes</h2>
            {#  quantity outliers table #}
            <div>{% render_quantity_outliers_table sheet graph_context="pdf" %}</div>
            {# end quantity outliers table #}
            {# input/output #}
            <div>
                <h3>Liste des déchets entrants, sortants et transportés</h3>
                {% render_waste_flows_table sheet graph_context="pdf" %}
            </div>
            {# endinput/output #}
        </section>
        <section class="horizontal">
            {# bsd canceled table #}
            <div>{% render_bsd_canceled_table sheet graph_context="pdf" %}</div>
            {# end bsd canceled table #}
            {# same emitter recipient table #}
            <div>{% render_same_emitter_recipient_table sheet graph_context="pdf" %}</div>
            {# end same emitter recipient table #}
            {#  private indivudals collections table #}
            <div>{% render_private_individuals_collections_table sheet graph_context="pdf" %}</div>
            {#  end private indivudals collections table #}
        </section>
    </div>
{% endblock %}
