{% extends "base_pdf.html" %}
{% load static graph_tags %}
{% block main %}
    <div>
        <section class="horizontal">
            <div class="header">
                <img src="{% static "img/mtes.png" %}" style="height: 2.5cm;"/>
                <img src="{% static "img/trackdechets.png" %}" style="height: 2cm;"/>
                <div class="header__text">
                    <h1 class="header__title">Fiche inspection</h1>
                    <h2 class="header__title">{{ sheet.company_name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="cell cell--third">
                    <p>
                        <span class="bold">SIRET :</span> {{ sheet.org_id }}
                    </p>
                    <p class="pdf-text bold">Profils établissements renseignés sur Trackdéchets :</p>
                    <ul class="pdf-text">
                        {% for profile in sheet.company_profiles %}<li>{{ profile }}</li>{% endfor %}
                    </ul>
                    <p class="pdf-text bold mb-0">Adresse :</p>
                    <p class="pdf-text mt-0">{{ sheet.company_address }}</p>
                    <p class="pdf-text">
                        <span class="bold">Période :</span>{{ sheet.period_start|date:"SHORT_DATE_FORMAT" }}
                        - {{ sheet.period_end|date:"SHORT_DATE_FORMAT" }}
                    </p>
                    <p class="pdf-text">
                        <span class="bold">Fiche éditée le :</span>{{ sheet.created|date:"DATETIME_FORMAT" }}
                    </p>
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">Agréments et récépissés déclarés sur Trackdéchets</h3>
                    {% render_agreements sheet %}
                </div>
                <div class="cell cell--third">
                    <p class="pdf-text">Les données pour cet établissement peuvent être consultées sur Trackdéchets</p>
                    <p class="pdf-text">
                        Elles comprennent les bordereaux de suivi de déchets (BSD) dématérialisés, mais ne comprennent
                        pas
                        :
                    </p>
                    <ul class="pdf-text">
                        <li>les éventuels BSD papiers non dématérialisés</li>
                        <li>les bons d’enlèvements (huiles usagées et pneus)</li>
                    </ul>
                </div>
            </div>
            <h2 class="section-title">Données des bordereaux de suivi dématérialisés issues de Trackdéchets</h2>
            {% if sheet.all_bsd_data_empty %}
                <div class="no-data-section">PAS DE DONNÉES À AFFICHER POUR LE SIRET {{ sheet.org_id }}.</div>
            {% endif %}
            {#  bsdd #}
            <div class="row">
                {% if sheet.bsdd_created_rectified_data %}
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Dangereux émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsdd_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Quantité de déchets dangereux en tonnes</p>
                        <img src="data:image/png;base64,{{ bsdd_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Dangereux sur l'année</p>
                        {% stats_graph sheet "bsdd" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsdd #}
            {#  bsdd non dangereux #}
            {% if sheet.bsdd_non_dangerous_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">BSD de déchets non dangereux émis, reçus et corrigés</h3>
                        <img src="data:image/png;base64,{{ bsdd_non_dangerous_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">Quantité de déchets non dangereux en tonnes</h3>
                        <img src="data:image/png;base64,{{ bsdd_non_dangerous_stock_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <h3 class="cell__title">BSD de déchets non dangereux sur l'année</h3>
                        {% stats_graph sheet "bsdd_non_dangerous" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsdd non dangereux #}
            {#  bsda #}
            {% if sheet.bsda_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Amiante émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsda_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Quantité de déchets amiante en tonnes</p>
                        <img src="data:image/png;base64,{{ bsda_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BSD Amiante sur l'année</p>
                        {% stats_graph sheet "bsda" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsda #}
            {#  bsdasri #}
            {% if sheet.bsdasri_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">BS DASRI émis, reçus et corrigés</p>
                        <img src="data:image/png;base64,{{ bsdasri_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">Volume de déchets DASRI en m³</p>
                        <img src="data:image/png;base64,{{ bsdasri_stock_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">


                        <p class="cell__title">
                            BS DASRI sur l'année
                        </p>

                        {% stats_graph sheet "bsdasri" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsdasri #}
            {#  bsff #}
            {% if sheet.bsff_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">

                        <p class="cell__title">
                            BS Fluides Frigorigènes émis, reçus et corrigés
                        </p>

                        <img src="data:image/png;base64,{{ bsff_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">

                        <p class="cell__title">
                            Quantité de déchets Fluides Frigorigènes en tonnes
                        </p>

                        <img src="data:image/png;base64,{{ bsff_stock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">
                            BS Fluides Frigorigènes sur l'année
                        </p>
                        {% stats_graph sheet "bsff" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsff #}
            {#  bsvhu #}
            {% if sheet.bsvhu_created_rectified_data %}
                <div class="row">
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">
                            BS VHU émis, reçus et corrigés
                        </p>
                        <img src="data:image/png;base64,{{ bsvhu_created_rectified_graph }}"
                             class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">
                            Quantité de déchets VHU en tonnes
                        </p>
                        <img src="data:image/png;base64,{{ bsvhustock_graph }}" class="cell__img">
                    </div>
                    <div class="cell cell--bordered cell--third">
                        <p class="cell__title">
                            BS VHU sur l'année
                        </p>
                        {% stats_graph sheet "bsvhu" %}
                    </div>
                </div>
            {% endif %}
            {#  end bsvhu #}
            {#  "waste is dangerous" statements #}
            {% if sheet.waste_is_dangerous_statements_data %}
                <div class="cell cell--bordered cell--half">
                    {% render_waste_is_dangerous_statements sheet %}
                </div>
            {% endif %}
            {# end "waste is dangerous" statements #}
            {#  on site #}
            <h2 class="section__title">
                Déchets sur site (théorique)
            </h2>
            <div class="row">
                <div class="cell cell--bordered cell--third">
                    {% include "sheets/components/on_site_wastes.html" with storage_data=sheet.storage_data %}
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        Origine des déchets - Départements
                    </h3>
                    {% if waste_origin_graph %}
                        <img src="data:image/png;base64,{{ waste_origin_graph }}"
                             class="cell__img">
                    {% else %}
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    {% endif %}
                </div>
                <div class="cell cell--bordered cell--third">
                    <h3 class="cell__title">
                        Origine des déchets - Régions
                    </h3>
                    {% if waste_origin_map_graph %}
                        <img src="data:image/png;base64,{{ waste_origin_map_graph }}"
                             class="cell__img">
                    {% else %}
                        <div class="no-data">
                            Pas de données à afficher.
                        </div>
                    {% endif %}
                </div>
            </div>
            {# end on site #}
            {# ICPE #}
            <h2 class="section__title">
                Données installation classée pour la protection de l'Environnement (ICPE)
            </h2>
            <p>
                Les données ICPE proviennent de la base Géorisque. Ces données ne sont pas à jour et synchronisées
                pour le moment faute de lien entre Trackdéchets et Géorisque
            </p>
            <div class="row">
                <div class="cell cell--bordered">
                    {% render_icpe sheet %}
                    {# end ICPE #}
                </div>
            </div>
            <div class="row">
                {# traceability #}
                <div class="cell cell--bordered">
                    {% render_traceabilty_break sheet %}
                </div>
                {# end traceability #}
                {# input/output #}
            </div>
            {# bsd canceled table #}
            <div>
                {% render_bsd_canceled_table sheet graph_context="pdf" %}
            </div>
            {# end bsd canceled table #}
            {# same emitter recipient table #}
            <div>
                {% render_same_emitter_recipient_table sheet graph_context="pdf" %}
            </div>
            {# end ame emitter recipient table #}
        </section>
        <section class="vertical">
            <div>
                <h3 class="section__title">
                    Liste des déchets entrants/sortants
                </h3>
                {% render_in_out_table sheet graph_context="pdf" %}
            </div>
            {# endinput/output #}
        </section>
    </div>
{% endblock %}
