[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-weasyprint = "*"
django-registration = "*"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"
django-braces = "*"
plotly = "*"
pandas = "*"
kaleido = "*"
gunicorn = "*"
pytest-django = "*"
factory-boy = "*"
sqlalchemy = "==1.4"
celery = "*"
redis = "*"
geopandas = "*"
django-defender = "*"
django-request = "*"
django-grappelli = "*"
weasyprint = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
djlint = "*"
pywatchman = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.9"
