[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-weasyprint = "*"
django-registration = "*"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
djlint = "*"

[requires]
python_version = "3.9"
