[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
django = "*"
django-registration = "*"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"
django-braces = "*"
plotly = "==5.24"
pandas = "==1.5.3"
kaleido = "*"
gunicorn = "*"
pytest-django = "*"
factory-boy = "*"
sqlalchemy = "==1.4"
celery = "*"
redis = "*"
geopandas = "*"
django-defender = "*"
django-request = "*"
django-grappelli = "*"
weasyprint = "*"
sentry-sdk = { extras = ["django"], version = "*" }
django-anymail = { extras = ["sendinblue"], version = "*" }
django-otp = "*"
django-allauth = "== 64.0.0"
httpx = "*"
djangorestframework = "*"
"django-storages[s3]" = "*"
django-template-partials = "*"
django-simple-menu = "*"
"django-import-export[xlsx]" = "*"
django-vite = "*"
django-filter = "*"
boto3 = "*"
mozilla-django-oidc = "*"
clickhouse-sqlalchemy = "*"
sshtunnel = "*"
django-admin-rangefilter = "*"

[dev-packages]
isort = "*"
djade = "*"
pywatchman = "*"
django-debug-toolbar = "*"
django-extensions = "*"
ipykernel = "*"
bandit = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.11"
