{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000091" />
        <title>
            {% block title %}Trackdéchets - Fiche Établissement{% endblock %}
        </title>
        {% if not skip_css %}
            <link rel="stylesheet" href="{% static "css/pdf.css" %}" />
        {% endif %}
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "img/safari-pinned-tab.svg" %}" color="#fff">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
