{% load static %}
<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000091" />
        <title>
            {% block title %}Trackdéchets - Fiche d'inspection{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/dsfr.main.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "img/safari-pinned-tab.svg" %}" color="#fff">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="warning-banner">
            Cette application est en phase de beta-test et peut encore comporter des dysfonctionnements que nous corrigeons au
            plus vite
        </div>
        <header role="banner" class="fr-header fr-mb-2v">
            <div class="fr-header__body">
                <div class="fr-container">
                    <div class="fr-header__body-row">
                        <a href="/">
                            <div class="fr-header__brand fr-enlarge-link">
                                <div class="fr-header__brand-top">
                                    <div class="fr-header__logo">
                                        <p class="fr-logo">
                                            Ministère
                                            <br />
                                            de la transition
                                            <br />
                                            écologique
                                        </p>
                                    </div>
                                </div>
                                <div class="fr-header__service">
                                    <img src="{% static "img/trackdechets.png" %}" width="70px" height="70px" alt="Icone trackdéchets" />
                                </div>
                                <div class="fr-h5">
                                    Trackdéchets
                                    <br>
                                    Fiche d'inspection
                                </div>
                            </div>
                        </a>
                        <div class="fr-header__tools">
                            <div class="fr-header__tools-links">
                                <ul class="fr-btns-group">
                                    <li>
                                        <a target="_blank"
                                           href="https://trackdechets.beta.gouv.fr/"
                                           title="Trackdéchets - nouvelle fenêtre"
                                           class="fr-btn fr-icon-chat-3-line">Trackdéchets</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_verified %}
                <div class="fr-container">
                    <nav role="navigation" aria-label="Menu principal" class="fr-nav">
                        <ul class="fr-nav__list">
                            <li class="fr-nav__item">
                                <a href="{% url "prepare" %}"
                                   target="_self"
                                   aria-controls="modal-header__menu"
                                   class="fr-nav__link">Préparer une fiche</a>
                            </li>
                            {% if user.is_staff %}
                                <li class="fr-nav__item">
                                    <a href="{% url "admin:index" %}"
                                       target="_self"
                                       aria-controls="modal-header__menu"
                                       class="fr-nav__link">Interface d'administration équipe</a>
                                </li>
                            {% endif %}
                            <li class="fr-nav__item">
                                <a href="{% static "user-manual/trackdechets-mode-emploi-fiche-inspection.pdf" %}" aria-controls="modal-header__menu" target="_blank" class="fr-nav__link">Guide d'utilisation</a>
                            </li>
                            <li class="fr-nav__item">
                                <a href="{% url "logout" %}"
                                   target="_self"
                                   aria-controls="modal-header__menu"
                                   class="fr-nav__link">Déconnexion</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </header>
        {% if messages %}
            <div class="fr-container">
                {% for message in messages %}
                    <div class="fr-alert fr-alert--{{ message.tags }} fr-alert--sm fr-my-4v">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block main %}{% endblock %}
        <script src="{% static "js/plotly-2.18.1.min.js" %}" charset="utf-8"></script>
        <script src="https://cdn.plot.ly/plotly-locale-fr-latest.js"></script>
        <script src="{% static "js/htmx.1.8.5.min.js" %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
