{% load static %}
<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="theme-color" content="#000091"/>
        <title>
            {% block title %}Trackdéchets - Fiche d'inspection{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/dsfr.main.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
        <link rel="apple-touch-icon"
              sizes="120x120"
              href="{% static "img/apple-touch-icon.png" %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static "img/favicon-32x32.png" %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static "img/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "site.webmanifest" %}">
        <link rel="mask-icon"
              href="{% static "img/safari-pinned-tab.svg" %}"
              color="#fff">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="fr-container">
            <header role="banner" class="fr-header">
                <div class="fr-header__body">
                    <div class="fr-container">
                        <div class="fr-header__body-row">
                            <a href="/">
                                <div class="fr-header__brand fr-enlarge-link">
                                    <div class="fr-header__brand-top">
                                        <div class="fr-header__logo">
                                            <p class="fr-logo">
                                                Ministère
                                                <br/>
                                                de la transition
                                                <br/>
                                                écologique
                                            </p>
                                        </div>
                                    </div>
                                    <div class="fr-header__service">
                                        <img src="{% static "img/trackdechets.png" %}"
                                             width="70px"
                                             height="70px"
                                             alt="Icone trackdéchets"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            {% block main %}
                {% if user.is_authenticated %}
                    <p>Vous êtes connecté</p>
                    <p>
                        <a href="{%  url "logout" %}">Déconnexion</a>
                    </p>
                {% endif %}
            {% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
