{% load simple_menu static %}
<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000091" />
        <title>
            {% block title %}Trackdéchets - Fiche Établissement{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/dsfr.main.min.css" %}" />
        <link href="{% static "css/utility/utility.min.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        {% block extra_head %}{% endblock %}
        <link rel="apple-touch-icon"
              sizes="120x120"
              href="{% static "img/apple-touch-icon.png" %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static "img/favicon-32x32.png" %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static "img/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "site.webmanifest" %}">
        <link rel="mask-icon"
              href="{% static "img/safari-pinned-tab.svg" %}"
              color="#fff">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <header role="banner" class="fr-header fr-mb-2v">
            <div class="fr-header__body">
                <div class="fr-container">
                    <div class="fr-header__body-row">
                        <a href="/">
                            <div class="fr-header__brand fr-enlarge-link">
                                <div class="fr-header__brand-top">
                                    <div class="fr-header__logo">
                                        <p class="fr-logo">
                                            Ministère
                                            <br>
                                            de la transition
                                            <br>
                                            écologique,
                                            <br>
                                            de la biodiversité,
                                            <br>
                                            de la forêt, de la mer
                                            <br>
                                            et de la pêche
                                        </p>
                                    </div>
                                </div>
                                <div class="fr-header__service">
                                    <img src="{% static "img/trackdechets.png" %}"
                                         width="70px"
                                         height="70px"
                                         alt="Icone trackdéchets" />
                                </div>
                                <div class="fr-h5">
                                    Trackdéchets
                                    <br>
                                    Fiche Établissement
                                </div>
                            </div>
                        </a>
                        <div class="fr-header__tools">
                            <div class="fr-header__tools-links">
                                <ul class="fr-btns-group">
                                    {% if user.is_verified or user.is_authenticated_from_monaiot %}
                                        {% if user.is_staff %}
                                            <li>
                                                <a href="{% url "admin:index" %}"
                                                   class="fr-btn fr-icon-admin-line fr-link--icon-right">Admin équipe</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a target="_blank"
                                               href="{% static "user-manual/trackdechets-mode-emploi-fiche-inspection.pdf" %}"
                                               title="Trackdéchets - nouvelle fenêtre"
                                               class="fr-btn">Guide d'utilisation</a>
                                        </li>
                                        <li>
                                            <form action="{% url "logout" %}" method="post">
                                                {% csrf_token %}
                                                <button class="fr-btn  fr-icon-logout-box-r-line fr-link--icon-right"
                                                        aria-controls="modal-header__menu">Déconnexion</button>
                                            </form>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_verified or user.is_authenticated_from_monaiot %}
                {% generate_menu %}
                <div class="fr-container">
                    <div class="fr-header__menu-links"></div>
                    <nav role="navigation" aria-label="Menu principal" class="fr-nav">
                        <ul class="fr-nav__list">
                            {% for item in menus.main %}
                                <li class="fr-nav__item">
                                    {% if item.children %}
                                        <button class="fr-nav__btn"
                                                aria-expanded="false"
                                                aria-controls="{{ item.menu_id }}"
                                                {% if item.selected %}aria-current="page"{% endif %}>
                                            {{ item.title }}
                                        </button>
                                        <div class="fr-collapse fr-menu" id="{{ item.menu_id }}">
                                            <ul class="fr-menu__list">
                                                {% for subitem in item.children %}
                                                    <li>
                                                        <a href="{{ subitem.url }}"
                                                           aria-controls="modal-header__menu"
                                                           target="{{ subitem.target|default:"_self" }}"
                                                           {% if subitem.selected %}aria-current="page"{% endif %}
                                                           class="fr-nav__link">{{ subitem.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <a href="{{ item.url }}"
                                           aria-controls="modal-header__menu"
                                           target="{{ item.target|default:"_self" }}"
                                           {% if item.selected %}aria-current="page"{% endif %}
                                           class="fr-nav__link">{{ item.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </header>
        {% if messages %}
            <div class="fr-container">
                {% for message in messages %}
                    <div class="fr-alert fr-alert--{{ message.tags }} fr-alert--sm fr-my-4v">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block main %}{% endblock %}
        <script type="module" src="{% static "js/dsfr.module.min.js" %}"></script>
        <script src="{% static "js/plotly-2.18.1.min.js" %}" charset="utf-8"></script>
        <script src="{% static "js/plotly-locale-fr.js" %}"></script>
        <script src="{% static "js/htmx.1.8.5.min.js" %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
