{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="fr-container">
        {% if user.is_authenticated %}
            <p>Bonjour, {{ user.username }}</p>
            {% if not has_filled_survey %}
                <div class="fr-alert fr-alert--info fr-mb-3v">
                    <h3 class="fr-alert__title">Aidez-nous à améliorer cet outil</h3>
                    <p>
                        Merci de prendre quelques instants pour remplir un formulaire succinct. <a class="fr-btn" href="{% url 'feedback_form' %}">Remplir le formulaire</a>
                    </p>
                </div>
            {% endif %}
            <p>
                <a href="{% url "prepare" %}">Préparer une fiche</a>
            </p>
            {% if user.is_staff %}
                <p>
                    <a href="{% url "admin:index" %}">Interface d'administration équipe</a>
                </p>
            {% endif %}
            <p>
                <a href="{% url "logout" %}">Déconnexion</a>
            </p>
        {% else %}
            <a href="{% url "login" %}">Connectez vous</a>
        {% endif %}
    </div>
{% endblock %}
