{% extends "base.html" %}
{% block main %}
    {% include "content/_privacy_disclaimer.html" %}
    {% include "content/_survey_callout.html" %}
    <div class="fr-container">
        {% if user.is_authenticated %}
            <p>Bonjour, {{ user.username }}</p>
            <p>
                <a href="{% url "prepare" %}">Préparer une fiche</a>
            </p>
            {% if user.is_staff %}
                <p>
                    <a href="{% url "admin:index" %}">Interface d'administration équipe</a>
                </p>
            {% endif %}
            <p>
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <button aria-controls="modal-header__menu" class="fr-nav__link">Déconnexion</button>
                </form>
            </p>
        {% else %}
            <a href="{% url "login" %}">Connectez vous</a>
        {% endif %}
    </div>
{% endblock %}
