{% extends "base.html" %}
{% load oidc_helpers %}
{% block main %}
    <div class="fr-container">
        {% if user.is_authenticated %}
            <p>Bonjour, {{ user.username }}.</p>
            {% if user.is_staff %}
                <p>
                    <a href="{% url "admin:index" %}">Admin équipe</a>
                </p>
            {% endif %}
            <p>
            <form action="{% logout_url %}" method="post">
                {% csrf_token %}
                <button class="fr-fr-btn fr-btn--tertiary-no-outline fr-icon-logout-box-r-line">Déconnexion</button>
            </form>
            </p>
        {% else %}
            <a href="{% url "login" %}">Connectez-vous</a>
        {% endif %}
    </div>
{% endblock main %}
