{% extends "base.html" %}

{% block title %}Contrôle transport - Vigiedéchets{% endblock %}

{% block main %}
    <div class="fr-container fr-mt-1v">
        <div class="fr-container--fluid">
            <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
                <div class="fr-col-4">
                    <h4 class="fr-mb-1w">Rechercher un transport</h4>
                    <form hx-post="{% url "roadcontrol_search_result" %}"
                          hx-target="#id_search_results"
                          hx-indicator="#id_spinner__wrapper">
                        {% csrf_token %}
                        {% include "forms/_form_snippet.html" with form=form skip_optional=True %}
                        <button class="fr-btn">Afficher les bordereaux</button>
                    </form>
                </div>
                <div class="fr-col-7 fr-col-offset-1">
                    <h4 class="fr-mb-1w">Derniers téléchargements</h4>
                    <div hx-get="{% url "roadcontrol_recent_pdfs" %}"
                         hx-trigger="load,reloadRecentPdfs from:body"></div>
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--center">
                <div class="htmx-indicator" id="id_spinner__wrapper">{% include "spinner.html" %}</div>
                <div id="id_search_results" class="search-results"></div>
            </div>
        </div>
    </div>
{% endblock main %}
