{% extends "base_pdf.html" %}
{% load static %}
{% block main %}
    <div class="header">
        <img src="{% static "img/mtes.png" %}" style="height: 2.5cm;" />
        <img src="{% static "img/trackdechets.png" %}" style="height: 2cm;" />
        <div class="header__text">
            <h1 class="header__title">Contrôle transport</h1>
            <p>{{ bundle.created_at }}</p>
        </div>
    </div>
    <div class="row">
        <div class="vehicle-info">
            <h3 class="vehicle-info__title">Véhicule contrôlé</h3>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">N° SIRET:</span> <span class="vehicle-info__value">{{ bundle.company_siret }}</span>
            </p>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">Nom Société:</span> <span class="vehicle-info__value">{{ bundle.company_name }}</span>
            </p>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">Adresse postale:</span> <span class="vehicle-info__value">{{ bundle.company_address }}</span>
            </p>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">Personne à contacter:</span> <span class="vehicle-info__value">{{ bundle.company_contact }}</span>
            </p>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">Adresse email:</span>  <span class="vehicle-info__value">{{ bundle.company_email }}</span>
            </p>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">Téléphone:</span> <span class="vehicle-info__value">{{ bundle.company_phone }}</span>
            </p>
            <p class="vehicle-info__row">
                <span class="vehicle-info__label">Immatriculation:</span> <span class="vehicle-info__value">{{ bundle.transporter_plate }}</span>
            </p>
        </div>
    </div>
    <div>
        <h3>{{ bundle.pdfs.count }} Bordereaux des déchets collectés</h3>
        <div>
            <table class="pdf-table">
                <thead>
                    <tr>
                        <th>N° de bordereau</th>
                        <th>Conditionnement</th>
                        <th>Déchet</th>
                        <th>Poids</th>
                        <th>Code ADR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bsd in bundle.pdfs.all %}
                        <tr>
                            <td>{{ bsd.bsd_id }}</td>
                            <td>{{ bsd.packagings }}</td>
                            <td>{{ bsd.waste_code }}</td>
                            <td>{{ bsd.weight }} kg</td>
                            <td>{{ bsd.adr_code }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
