{% extends "base.html" %}
{% load i18n %}

{% block title %}Échec de connexion{% endblock %}
{% load i18n %}

{% block main %}
    <div class="fr-container">
        <h3>Connexion PROCONNECT</h3>
        <div class="fr-alert fr-alert--warning fr-mb-3v">
            <h3 class="fr-alert__title">Erreur</h3>
            <p>Une erreur est survenue, vous ne disposez probablement pas des droits nécessaires.</p>
            <p>Vous devez être préalablement inscrit pour accéder à ce service via Proconnect.</p>
        </div>
    </div>
{% endblock main %}
