.cell__img {
  width: 100%;
}

.sheet {
  padding-top: 2rem;
}

.cell {
  display: inline-block;

  vertical-align: top;
  padding: 1rem 0.5rem;}

.cell--third {
  width: 33%;
}

.cell--bordered {
  border: 1px solid #e3e3fd;
  border-left: 5px solid #e3e3fd
}

.section__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.row {
  margin-top: 3rem;
}

.cell__title {

  font-size: 1rem;
  margin-bottom: 2rem;
}

.fr-table .td--right {
  text-align: right;
}