{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}Échec de connexion{% endblock %}
{% load i18n %}
{% load allauth %}
{% block main %}
    <div class="fr-container">
        <h3>Connexion mon aiot</h3>
        <div class="fr-container">
            <h3>Connexion mon aiot</h3>
            <div class="fr-alert fr-alert--warning fr-mb-3v">
                <h3 class="fr-alert__title">Erreur</h3>
                <p>Le processus de connexion a été interrompu</p>
            </div>
        </div>
    </div>
{% endblock %}
