{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block main %}
    <div class="fr-container">
        <h3>Connexion mon aiot</h3>
        <p>Si vous possédez déjà un compte fiche établissement, Monaiot vous connectera.</p>
        <p>Si vous possédez pas encore de compte fiche établissement, il sera créé automatiquement.</p>
        {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
        {% csrf_token %}
        <button type="submit" class="fr-btn">Continuer</button>
    {% endslot %}
{% endelement %}
</div>
{% endblock %}
