{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block main %}
    <div class="fr-container">
        <p>Vous allez vous connecter pour la première fois avec MonAIOT</p>
        {% url 'socialaccount_signup' as action_url %}
        {% element form form=form method="post" action=action_url %}
        {% slot body %}
        {% csrf_token %}
        {% element fields form=form unlabeled=False %}
    {% endelement %}
    {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
    {% endif %}
{% endslot %}
{% slot actions %}
<button class="fr-btn">Se connecter</button>
{% endslot %}
{% endelement %}
</div>
{% endblock main %}
