{% extends 'base.html' %}
{% block title %}
    {{ _("Login") }}
{% endblock title %}
{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
            <div class="fr-alert fr-alert--error fr-mb-2w">
                <p>
                    Nous avons détecté un grand nombre de tentatives de connexions infructueuses depuis votre IP.
                    <br>
                    Veuillez réssayer dans quelques minutes.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
