{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ _("Login") }}
{% endblock title %}

{% block main %}
    <style>
        hr {

            transform: translateY(12px);

        }
    </style>
    <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
        <div class="fr-col-5">
            <form action="" method="post">
                {% csrf_token %}
                <h2 class="text-center">{{ _("Connexion ") }}</h2>
                <div class="fr-alert fr-alert--info fr-mb-3v">
                    <p>
                        Désormais, les agents disposant d'un accès GUN peuvent se connecter via <strong>MonAIOT</strong>.
                    </p>
                    <p>La connexion habituelle par email/mot de passe et code de vérification reste disponible.</p>
                </div>
                {% include "forms/_form_snippet.html" with form=form %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <button class="fr-btn">{{ _("Connexion") }}</button>
                <a href="{% url "password_reset" %}">Réinitialiser mon mot de passe</a>
            </form>
            <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-grid-row--gutters   fr-mt-10v">
                <div class="fr-col-3">
                    <hr class="sep">
                </div>
                <div>OU</div>
                <div class="fr-col-3">
                    <hr class="sep">
                </div>
            </div>


            <div class="fr-mt-10v">


                <div class="fr-grid-row   fr-grid-row--middle  fr-grid-row--center ">
                    <span>Se connecter avec</span>
                    <a href="{% url 'oidc_authentication_init' %}" class="fr-btn fr-btn--tertiary fr-ml-1w">
                        <img src="{% static "img/monaiot.png" %}" width="150px" alt="MonAIOT">
                    </a>
                </div>


            </div>
        </div>
    </div>
{% endblock main %}
