{% extends 'base.html' %}
{% block title %}
    {{ _("Login") }}
{% endblock title %}
{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
            <div class="fr-col-5">
                <p>Si votre compte existait dans notre système, un email contenant un lien de connexion vous a été envoyé.</p>
                <p>Vérifiez votre boîte mail, ouvrez le message et cliquez sur le lien envoyé, vous serez automatiquement connecté</p>
            </div>
        </div>
    </div>
{% endblock %}
