{% extends 'base.html' %}
{% block title %}
    {{ _("Login") }}
{% endblock title %}
{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
            <div class="fr-col-5">
                <p>Si vous êtes inscrit sur ce système, entrez votre email, un lien de connexion vous sera envoyé.</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">{{ _("Connexion ") }}</h2>
                    {% include "forms/_form_snippet.html" with form=form %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button class="fr-btn">{{ _("Connexion") }}</button>
                </form>
            </div>
        </div>
    {% endblock %}
