{% extends 'base.html' %}
{% block title %}
    {{ _("Réinitialiser mon mot de passe") }}
{% endblock title %}
{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
            <div class="fr-col-6">
                {% if validlink %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2 class="text-center">{{ _("Saisissez un nouveau mot de passe") }}</h2>
                        {% include "forms/_form_snippet.html" with form=form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button class="fr-btn">{{ _("Réinitialiser") }}</button>
                    </form>
                {% else %}
                    <h1>Ooops !</h1>
                    <p>
                        Le lien de réinitialisation de mot de passe que vous avez cliqué n'est pas valide, peut-être a-t-il déjà été utilisé ou est-il trop vieux.
                    </p>
                    <p>
                        Vous pouvez demander à nouveau la <a href="{% url "password_reset" %}">réinitialisation</a> de votre mot de passe.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
