{% extends 'base.html' %}
{% block title %}
    {{ _('Message de réinitialisation du mot de passe envoyé') }}
{% endblock title %}
{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
            <div class="fr-col-8">
                <h1>Message de réinitialisation du mot de passe envoyé</h1>
                <p>
                    Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un
                    compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.
                </p>
                <p>
                    Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous
                    êtes
                    enregistré et contrôlez votre dossier de messages indésirables.
                </p>
                <a href="{% url "login" %}">{{ _("Connexion") }}</a>
            </div>
        </div>
    </div>
{% endblock %}
