{% extends 'base.html' %}
{% block title %}
    {{ _("Vérification: code secret") }}
{% endblock title %}
{% block main %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-mt-4v">
            <div class="fr-col-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">{{ _("Vérification: consultez votre boite email") }}</h2>
                    <p>📩️ Nous avons envoyé un email contenant un code de vérification à {{ request.user.email }}.</p>
                    <p>Ce code est valide pendant {{ token_validity }} minutes.</p>
                    <p>L'email peut prendre quelques minutes pour arriver, merci pour votre patience.</p>
                    {% include "forms/_form_snippet.html" with form=form %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button class="fr-btn">{{ _("Connexion") }}</button>
                </form>
                <div class="fr-mt-4v">
                    <form action="{% url "resend_token" %}" method="post">
                        {% csrf_token %}
                        <p class="fr-mb-1v">
                            Si vous n'avez pas reçu notre email dans les 10 minutes, vous pouvez demander un nouvel
                            envoi.
                        </p>
                        <button class="fr-btn">{{ _("Renvoyer le code par email") }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
