# Service database, managed by current app (accounts etc)
DATABASE_URL=psql://user:password@127.0.0.1:8458/database
# Warehouse database, read only
WAREHOUSE_URL=psql://user:password@127.0.0.1:8458/warehouse

SECRET_KEY='********'

ALLOWED_HOST="*"
DJANGO_ADMINS="John:john@example.com, Mary:mary@example.com"

EMAIL_HOST="smtp.mailing.net"
EMAIL_HOST_PASSWORD="*******"
EMAIL_HOST_USER="mail@mailing.net"
EMAIL_PORT=465
EMAIL_USE_TLS=True

ADMIN_SLUG="hard-to-guess-slug"

CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"

BASE_URL="https://site.com"

# Set to true on local dev env
DEBUG=True|False
