{% load utils %}
<ul>
    {% for data in dangerous_data %}
        <li>
            <span class="fr-text--lead">Rubrique{{ data.num_missing_rubriques|pluralize }} {{ data.missing_rubriques }}</span>
        </li>
        {% if data.stats.total_bs <= 30 %}
            <p>
                L'installation ne dispose pas à notre connaissance
                {% if data.num_missing_rubriques > 1 %}
                    des rubriques
                {% else %}
                    de la rubrique
                {% endif %}
                {{ data.missing_rubriques }},
                pour autant, vous trouverez ci-aprés la liste de <b>{{ data.stats.total_bs }}</b> bordereau{{ data.stats.total_bs|pluralize:"x" }} dont l'établissement, destinataire, a indiqué {{ data.found_processing_codes }} comme traitement.
            </p>
            <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
                <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
                    <thead>
                        <tr>
                            <th scope="col">N° du bordereau</th>
                            <th scope="col">Type de bordereau</th>
                            <th scope="col">Date opération</th>
                            <th scope="col">Quantité traitée (en tonnes)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in bs_data_2760_1_2.bs_list %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.bs_type|upper }}</td>
                                <td>{{ row.processed_at|default:"N/A" }}</td>
                                <td>{{ row.quantity|default:"N/A" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>
                L'installation ne dispose pas à notre connaissance
                {% if data.num_missing_rubriques > 1 %}
                    des rubriques
                {% else %}
                    de la rubrique
                {% endif %}
                {{ data.missing_rubriques }},
                pour autant, l'établissement a indiqué {{ data.found_processing_codes }} comme traitement pour <b>{{ data.stats.total_bs }}</b> bordereau{{ data.stats.total_bs|pluralize:"x" }} soit un total de <b>{{ data.stats.total_quantity }}</b> tonnes traitées.
            </p>
        {% endif %}
    {% endfor %}
    {% for data in non_dangerous_data %}
        <li>
            <span class="fr-text--lead">Rubrique{{ data.num_missing_rubriques|pluralize }} {{ data.missing_rubriques }}</span>
        </li>
        {% if data.stats.total_statements <= 30 %}
            <p>
                L'installation ne dispose pas à notre connaissance
                {% if data.num_missing_rubriques > 1 %}
                    des rubriques
                {% else %}
                    de la rubrique
                {% endif %}
                {{ data.missing_rubriques }},
                pour autant, vous trouverez ci-aprés la liste de <b>{{ data.stats.total_statements }}</b> déclaration{{ data.stats.total_statements }} dont l'établissement, destinataire,
                a indiqué {{ data.found_processing_codes }} comme traitement.
            </p>
            <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
                <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
                    <thead>
                        <tr>
                            <th scope="col">Date réception</th>
                            <th scope="col">Codé déchet</th>
                            <th scope="col">Dénomination usuelle</th>
                            <th scope="col">Code opération</th>
                            <th scope="col">Quantité reçue (en tonnes)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data.statements_list %}
                            <tr>
                                <td>{{ row.received_at|default:"N/A" }}</td>
                                <td>{{ row.waste_code|default:"N/A" }}</td>
                                <td>{{ row.waste_name|default:"N/A" }}</td>
                                <td>{{ row.operation_code|default:"N/A" }}</td>
                                <td>{{ row.quantity|default:"N/A"|number|safe  }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>
                L'installation ne dispose pas à notre connaissance
                {% if data.num_missing_rubriques > 1 %}
                    des rubriques
                {% else %}
                    de la rubrique
                {% endif %}
                {{ data.missing_rubriques }},
                pour autant, l'établissement a indiqué {{ data.found_processing_codes }} comme traitement pour <b>{{ data.stats.total_statements }}</b> déclaration{{ data.stats.total_statements|pluralize:"s" }} de déchets non dangereux soit un total de <b>{{ data.stats.total_quantity }}</b> tonnes reçues.
            </p>
        {% endif %}
    {% endfor %}
</ul>
