<div {% if graph_context == "web" %}class="cell cell--bordered cell--full"{% endif %}>
    <h3>Listes des rubriques des installations associées à l'établissement</h3>
    <p class="fr-tag fr-tag--sm fr-icon-info-fill fr-tag--icon-left">Source : GUN</p>
    {% if icpe_data %}
        <div {% if graph_context == "web" %}class="fr-table"{% endif %}>
            <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
                <thead>
                    <tr>
                        <th scope="col">Rubrique</th>
                        <th scope="col">Quantité autorisée</th>
                        <th scope="col">Unité</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in icpe_data %}
                        <tr>
                            <td>{{ row.rubrique }}</td>
                            <td>{{ row.quantite|default:"N/A" }}</td>
                            <td>{{ row.unite|default:"N/A" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucune donnée</p>
    {% endif %}
</div>
