<div {% if graph_context == "web" %}class="fr-table "{% endif %}>
    <table {% if graph_context == "web" %}{% else %}class="pdf-table"{% endif %}>
        <thead>
            <tr>
                <th scope="col">Code déchet</th>
                <th scope="col">Description</th>
                <th scope="col">Entrant/Sortant</th>
                <th scope="col">Quantité&nbsp;(t)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in input_output_waste_data %}
                <tr>
                    <td>{{ row.waste_code }}</td>
                    <td>{{ row.description }}</td>
                    <td>
                        {% if row.incoming_or_outgoing == "incoming" %}
                            ➜Entrant
                        {% else %}
                            Sortant➜
                        {% endif %}
                    </td>
                    <td class="td--right">{{ row.quantity_received }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
