{% load utils %}
{% if dangerous_data %}
    <h3>Incinérateur - Liste des déchets dangereux sortants</h3>
    <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : Trackdéchets</p>
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">Code déchet</th>
                    <th scope="col">Dénomination usuelle</th>
                    <th scope="col">SIRET du destinataire</th>
                    <th scope="col">Code opération</th>
                    <th scope="col">Quantité&nbsp;(t)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in dangerous_data %}
                    <tr>
                        <td>{{ row.waste_code }}</td>  
                        <td>{{ row.waste_name }}</td>
                        <td>{{ row.destination_company_siret }}</td>
                        <td>{{ row.processing_opration }}</td>
                        <td class="td--right">{{ row.quantity|number|safe|default:"N/A" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% if non_dangerous_data %}
    <h3>Incinérateur - Liste des déchets non dangereux sortants</h3>
    <p class="fr-tag fr-tag fr-icon-info-fill fr-tag--icon-left">Source : RNDTS</p>
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">Code déchet</th>
                    <th scope="col">Dénomination usuelle</th>
                    <th scope="col">SIRET du destinataire</th>
                    <th scope="col">Code opération</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Unité</th>
                </tr>
            </thead>
            <tbody>
                {% for row in non_dangerous_data %}
                    <tr>
                        <td>{{ row.waste_code }}</td>  
                        <td>{{ row.waste_name }}</td>
                        <td>{{ row.destination_company_siret }}</td>
                        <td>{{ row.processing_opration }}</td>
                        <td class="td--right">{{ row.quantity|number|safe|default:"N/A" }}</td>
                        <td class="td--right">{{ row.unit|default:"N/A" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
