{% load utils %}
<style>
    .single-stat {
        margin-top: 5%;
        font-size: 0.8rem;
    }
</style>
<h3 class="cell__title">Statistiques en tant qu'éco-organisme</h3>
{% if bordereaux_stats_data %}
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th class="table-headline" scope="col">Type de Bordereau</th>
                    <th scope="col">Nombre de mentions</th>
                    <th scope="col">Quantité (tonnes)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BSDD</td>
                    <td>{{ bordereaux_stats_data.bsdd.count|default:"0"|number|safe }}</td>
                    <td class="td--right">
                        <span class="fr-text--bold">{{ bordereaux_stats_data.bsdd.quantity|default:"0"|number|safe }}</span>
                    </td>
                </tr>
                <tr>
                    <td>BSD Non Dangereux</td>
                    <td>{{ bordereaux_stats_data.bsdd_non_dangerous.count|default:"0"|number|safe }}</td>
                    <td class="td--right">
                        <span class="fr-text--bold">{{ bordereaux_stats_data.bsdd_non_dangerous.quantity|default:"0"|number|safe }}</span>
                    </td>
                </tr>
                <tr>
                    <td>BSDA</td>
                    <td>{{ bordereaux_stats_data.bsda.count|default:"0"|number|safe }}</td>
                    <td class="td--right">
                        <span class="fr-text--bold">{{ bordereaux_stats_data.bsda.quantity|default:"0"|number|safe }}</span>
                    </td>
                </tr>
                <tr>
                    <td>BSDASRI</td>
                    <td>{{ bordereaux_stats_data.bsdasri.count|default:"0"|number|safe }}</td>
                    <td class="td--right">
                        <span class="fr-text--bold">{{ bordereaux_stats_data.bsdasri.quantity|default:"0"|number|safe }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <div class="sc-primary">
        <span>Pas de données</span>
    </div>
{% endif %}
