{% if private_individuals_collections_data %}
    <h2 class="section__title">Liste des collectes chez les particuliers</h2>
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context == "web" %}{% else %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">Numéro de bordereau</th>
                    {% if graph_context == "web" %}
                        <th scope="col">SIRET du destinataire</th>
                        <th scope="col">SIRET de l'entreprise de travaux</th>
                    {% endif %}
                    <th scope="col">Date de l'envoi</th>
                    <th scope="col">Date de la réception</th>
                    <th scope="col">Nom de l'émetteur</th>
                    <th scope="col">Adresse de l'émetteur</th>
                    <th scope="col">Nom du chantier</th>
                    <th scope="col">Adresse du chantier</th>
                    <th scope="col">Code déchet</th>
                    <th scope="col">Nom du déchet</th>
                    <th scope="col">Quantité&nbsp;(t)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in private_individuals_collections_data %}
                    <tr>
                        <td>{{ row.id }}</td>
                        {% if graph_context == "web" %}
                            <td>
                                {% if row.recipient_company_siret == company_siret %}
                                    <span class="fr-text--bold">{{ row.recipient_company_siret }}</span>
                                {% else %}
                                    {{ row.recipient_company_siret }}
                                {% endif %}
                            </td>
                            <td>
                                {% if row.worker_company_siret %}
                                    {% if row.worker_company_siret == company_siret %}
                                        <span class="fr-text--bold">{{ row.worker_company_siret }}</span>
                                    {% else %}
                                        {{ row.worker_company_siret }}
                                    {% endif %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>{{ row.sent_at|default:"N/A" }}</td>
                        <td>{{ row.received_at|default:"N/A" }}</td>
                        <td>{{ row.emitter_company_name|default:"N/A" }}</td>
                        <td>{{ row.emitter_company_address|default:"N/A" }}</td>
                        <td>{{ row.worksite_name|default:"N/A" }}</td>
                        <td>{{ row.worksite_address|default:"N/A" }}</td>
                        <td>{{ row.waste_code }}</td>
                        <td>{{ row.waste_name }}</td>
                        <td class="td--right">{{ row.quantity|default:"N/A" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
