{% load utils %}
{% if same_emitter_recipient_data %}
    <h3>Liste des bordereaux pour lesquels l'établissement s'est positionné en tant qu'émetteur et destinataire</h3>
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">Numéro de bordereau</th>
                    <th scope="col">Date de l'envoi</th>
                    <th scope="col">Date de la réception</th>
                    <th scope="col">Nom du chantier</th>
                    <th scope="col">Adresse du chantier</th>
                    <th scope="col">Code déchet</th>
                    <th scope="col">Nom du déchet</th>
                    <th scope="col">Quantité&nbsp;(t)</th>
                    <th scope="col">Quantité refusée&nbsp;(t)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in same_emitter_recipient_data %}
                    <tr>
                        <td>
                            {% if row.readable_id %}
                                {{ row.readable_id }}
                            {% else %}
                                {{ row.id }}
                            {% endif %}
                        </td>
                        <td>{{ row.sent_at }}</td>
                        <td>{{ row.received_at|default:"N/A" }}</td>
                        <td>{{ row.worksite_name|default:"N/A" }}</td>
                        <td>{{ row.worksite_address }}</td>
                        <td>{{ row.waste_code }}</td>
                        <td>{{ row.waste_name }}</td>
                        <td class="td--right">{{ row.quantity_received|default:"N/A"|number|safe }}</td>
                        <td class="td--right">{{ row.quantity_refused|default:"N/A"|number|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
