{% load utils %}
{% if ssd_data %}
    <h3>Résumé des Sorties de Statut de Déchet</h3>
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context != "web" %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">Code déchet</th>
                    <th scope="col">Dénomination déchet</th>
                    <th scope="col">Dénomination SSD</th>
                    <th scope="col">Quantité&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for row in ssd_data %}
                    <tr>
                        <td>{{ row.waste_code }}</td>
                        <td>{{ row.waste_name }}</td>
                        <td class="td--right">{{ row.quantity|number|safe }} {{ row.unit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
