<div {% if graph_context == "web" %}class="fr-table "{% endif %}>
    <table {% if graph_context == "web" %}{% else %}class="pdf-table"{% endif %}>
        <thead>
            <tr>
                <th scope="col">Code déchet</th>
                <th scope="col">Description</th>
                <th scope="col">Type de flux</th>
                <th scope="col">Quantité&nbsp;(t)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in waste_flows_data %}
                <tr>
                    <td>{{ row.waste_code }}</td>
                    <td>{{ row.description }}</td>
                    <td>
                        {% if row.flow_status == "incoming" %}
                            ➜Entrant
                        {% elif row.flow_status == "outgoing" %}
                            Sortant➜
                        {% elif row.flow_status == "transported" %}
                            Transporté 🚛
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="td--right">{{ row.quantity_received }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
