<h3 class="cell__title">Déclaration de déchets dangereux avec code déchet non dangereux</h3>
{% if waste_is_dangerous_statements_data %}
    <p>L'établissement a déclaré des déchets comme étant dangereux pour les codes déchets non dangereux suivants :</p>
    <div {% if graph_context == "web" %}class="fr-table "{% endif %}>
        <table {% if graph_context == "web" %}{% else %}class="pdf-table"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">Code déchet</th>
                    <th scope="col">Description</th>
                    <th scope="col">Nombre de bordereaux émis</th>
                    <th scope="col">Quantité de déchets (reçue par le destinataire)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in waste_is_dangerous_statements_data %}
                    <tr>
                        <td>{{ row.waste_code }}</td>
                        <td class="td--right">{{ row.description }}</td>
                        <td class="td--right">
                            <span class="fr-text--bold">{{ row.count }}</span>
                        </td>
                        <td class="td--right">
                            <span class="fr-text--bold">{{ row.quantity }}</span> tonnes
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Aucune donnée</p>
{% endif %}
